<div fxLayout="column wrap" class="login-container" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="Web/Logo.jpg" class="logo"></div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="padding: 10px;" class="basic-card" fxLayoutGap="10" fxLayoutAlign="start center" [fxShow]="true">
      <div>
        <span style="font-weight: bold; color: #000;">Welcome to Key Partner APP.</span>
      </div>
    </div>
  </div>
</div>